@font-face {
    font-family: myFont;
    src: url(./assets/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    font-family: myFont;
    color: black;
    background-color: white;
    line-height: 1.43;
    font-size: 0.875rem;
    height: 100%;
    line-break: strict;
}

.nav-container {
    font-family: myFont;
    width: 100%;
    height: 168px;
    contain-intrinsic-height: 168px;
    height: 100%;
    box-shadow: rgb(0 0 0 / 8%) 0 1px ;
    transition: height 250ms cubic-bezier(0.2,0,0,1);
    background: white;
    z-index: 10;
    position: sticky;
    top: 0px;
    will-change: height;
}

.big-nav {

    width: 100%;
    top: 0px;
    animation-name: bignavchange;
    animation-timeline: scroll(root);
    animation-duration: 0.05s;
}

@keyframes bignavchange {
    0% {
        animation-duration: 0.01s;
        min-height: 168px;
    }

    1% {
        animation-duration: 0.01s;
        position: fixed;
        min-height: 80px;
        height: 80px;

    }

    100% {
        animation-duration: 0.01s;
        position: fixed;
        min-height: 0px;
        padding-bottom: 0px;
        height: 0px;

    }
}
/* 
.lower-nav {
    font-family: myFont;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
    min-height: 88px;
    height: 88px;
    animation-name: navchange;
    animation-timeline: scroll(root);
    transition: all 0.01s ease-in-out;
    border-bottom: 1px solid #DDDDDD;
    background: white;
}

@keyframes navchange {
    0% {
        animation-duration: 0.01s;
        min-height: 88px;
    }

    1% {
        animation-duration: 0.01s;
        min-height: 0px;
        padding-bottom: 0px;
        height: 0px;

    }

    100% {
        animation-duration: 0.01s;
        min-height: 0px;
        padding-bottom: 0px;
        height: 0px;
    }
} */
.top-nav {
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: #ff385c;
    width: 100%;
    padding: 0px 40px;
    height: 80px;
    background: white;
}

.brand {
    flex: 1 0 140px;
    color: #ff385c;
    font-family: inherit;
}

.brand a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    height: 80px;
    outline: none;
    z-index: 1;
    position: relative;
    transition: color 250ms cubic-bezier(0.2,0,0,1);
    font-family: inherit;
    text-decoration: none;
}

.appear {
    display: none;
}

.home {
    flex: 1 0 140px;
    font-family: inherit;
}

nav {
    position: relative;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    height: 80px;
}

nav > .nav-link {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    margin-right: 8px;
}

nav  a {
    display: inline-block;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: none;
    z-index: 1;
    position: relative;
    padding: 12px;
    white-space: nowrap;
    color: #222222;
    text-decoration: none;
}

.bnb {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    font-weight: 500;
    font-family: myFont;
    line-height: inherit;
    letter-spacing: normal;
    color: inherit;
    white-space: nowrap;
}

nav a:hover {
    border-radius: 30px;
    background-color: #F7F7F7;
    transition: color 250ms cubic-bezier(0.2,0,0,1) ;
}

.globe {
    position: relative;
    display: inline-block;
}

button {
    padding: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background: none;
}

.profile {
    line-height: 20px;
    padding: 8px 8px 8px 14px;
    background: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
    z-index: 1;
    height: 48px;
    border: 1px solid #DDDDDD;
}

.profile:hover {
    box-shadow: 0px 2px 6px 1px #DDDDDD;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1) ;
}

.inline {
    display: inline;
    position: relative;
}

.people {
    margin-left: 14px;
    color: #6A6A6A;
    width: 32px;
    height: 32px;
    flex: 32px;
}

.space {
    display: flex;
    height: 100%;
    white-space: nowrap;
    text-align: inherit;
    z-index: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.space > div {
    display: flex;
    position: relative;
    height: 18px;
    align-items: center;
}
.sticky-nav {
    width: 100%;
    height: 90px;
    position: sticky;
    padding-top: 12px;
    top: 0;
    z-index: 1;
    animation-name: fixed;
    animation-timeline: scroll(root);
    animation-duration: 0.01s;
    transition-duration: 0.01s;
    background-color: white;
}

@keyframes fixed {
    0% {
        animation-duration: 0.01s;
        min-height: 90px;
    }

    1% {
        box-shadow: 0.5px 0.5px 6px 0px #DDDDDD;
        animation-duration: 0.01s;
        position: fixed;
        min-height: 90px;
        height: 78px;
        top: 80px;
    }

    100% {
        box-shadow: 2px 2px 6px 0px #DDDDDD;
        animation-duration: 0.01s;
        position: fixed;
        min-height: 90px;
        height: 78px;
        top: 80px;
    }
}

.hello {
    font-family: myFont;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.hello1 {
    width: 50%;
}

#hello2 {
    padding-left: 18px;
    border: none;
}

#hello3 {
    padding-left: 18px;
    border: none;
    border-left: 1px solid #DDDDDD;
}

#hello4 {
    border: none;
    border-left: 1px solid #DDDDDD;
    padding: 14px 24px;
}

.destination {
    font-size: 12px;
    font-family: myFont;
    font-weight: 500;
    background: none;
    gap: 2px;
    width: 100%;
    border: none;
    border-right: 1px solid #DDDDDD;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
}

.sub {
    font-weight: 400;
    font-size: 14px;
    color: #6A6A6A;
}

.search {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0%;
    z-index: 3;
    background-color: transparent;
    border-radius: 32px;
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 6px 0px #DDDDDD;
    animation-name: scalechange;
    animation-timeline: scroll(root);
    animation-duration: 0.01s;
    visibility: visible;
}

@keyframes scalechange {
    0%{
        width: 65%;
    }

    1%{
        width: 25%;
        transform: translateY(-48px);
        visibility: visible;
        animation-duration: 0.01s;
    }
    100% {
        width: 25%;
        transform: translateY(-48px);
        visibility: visible;
        animation-duration: 0.01s;
    }
}

.grid-items {
    height: 365.1px;
}

#content {
    max-width: 100%;
    width: 100%;
}

.middle-con {
    max-width: 100%;
    width: 100%;
}

.main {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.grid {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-top: 16px;
    margin-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    animation-name: marginAdd;
    animation-duration: 0.01s;
    transition-duration: 0.01s;
    animation-timeline: scroll(root);
}

@keyframes marginAdd {
    0%{
        margin-top: 16px;
        animation-duration: 0.01s;
        transition: all 0.01s ease-in-out;
    }

    1%{
        margin-top: 220px;
        animation-duration: 0.01s;
        transition: all 0.01s ease-in-out;
    }
    100% {
        margin-top: 220px;
        animation-duration: 0.01s;
        transition: all 0.01s ease-in-out;
    }
}

.grid-con {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 24px;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.rectangle {
    border-radius: 0px;
}

.appear {
    display: none;
}

.items {
    height: calc(100% - 100px);
    margin-bottom: 12px;
}

.img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
}

.scroller {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
    animation-name: scroll;
    animation-fill-mode: forwards;
    animation-duration: 1ms;
    scroll-snap-stop: normal;
    z-index: 1;
    overflow-x: scroll;
    scrollbar-width: none;
}

.scroll {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
}

.big-text {
    margin-top: 56px;
    line-height: 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.exploring {
    font-family: myFont;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-more {
    cursor: pointer;
    text-align: center;
    border: none;
    background: #222222;
    font-size: 1rem;
    line-height: 1.25rem;
    outline: none;
    border-radius: 8px;
    padding: 14px 24px;
    color: white;
    font-family: myFont;
    font-weight: 500;
    transition: box-shadow 0.2s cubic-bezier(0.2,0,0,1), transform 0.1s cubic-bezier(0.2,0,0,1) ;
}

.grid-text {
    width: 100%;
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 50px;
    line-height: 1.1875rem;
    font-size: 0.9375rem;
    column-gap: 8px;
    row-gap: 2px;
}

.countries {
    line-height: inherit;
    color: #222222;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow: clip;
    grid-area: 1/1/ span 1 / span 2;
}

.time {
    grid-area: 2/1/ span 1 / span 2;
}

.date {
    grid-area: 3/1/ span 1 / span 2;
}

.inspiration {
    width: 100%;
    padding: 48px 40px;
}

#last-con {
    width: 100%;
    height: 100%;
    background: #F7F7F7;
}

.getaways h2 {
    width: 100%;
    margin-bottom: 8px;
    line-height: 1.625rem;
    font-weight: 500;
    font-size: 1.375rem;
    letter-spacing: -0.01375rem;
    color: #222222;
}


.overflow-list  {
    display: flex;
    padding: 0px 12px;
    margin: 0px -12px;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #F7F7F7;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: visible;
}

button:hover {
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #DDDDDD;
}

.words {
    margin: 6px 6px 6px 0px;
    font-family: myFont;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    border: none;
    background: transparent;
    color: #6A6A6A;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    letter-spacing: normal;
    position: relative;
}


#last {
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 6px;
}

#first {
    font-family: myFont;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: -10px;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    border: none;
    background: transparent;
    color: #222222;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    letter-spacing: normal;
    position: relative;
}

#first::after {
    content: "";
    position: absolute;
    background-color: #222222;
    left: 10px;
    height: 2px;
    bottom: -6px;
    width: 50px;
}

.panel {
    width: 100%;
    padding-top: 32px;
}

.grid-list {
    font-family: myFont;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Responsive columns */
    row-gap: 24px;
    column-gap: 8px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden
}


.flex-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-size: 500;
    letter-spacing: normal;
    text-decoration: none;
}

.first-span {
    color: #222222;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
}

.second-span {
    color: #6A6A6A;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
}

.show {
    max-width: 100%;
    text-align: center;
    width: 100%;
    background: transparent;
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: myFont;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    color: #222222;
    position: relative;
    box-sizing: border-box;
}

.footer {
    padding: 0px 40px;
}

.grid-column {
    grid-column-start: 2;
}

.last-grid {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 8px;
}

.first-list  {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 12px;
    list-style: none;
}


.first-grid {
    font-family: myFont;
    padding: 48px 0px;
}

.first-grid h3 {
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    margin: 0;
    color: #222222;
    margin-bottom: 12px;
}

.first-list > li > a {
    color: rgb(34, 34, 34);
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.125rem;
    text-decoration: none;
    font-size: 0.875rem;
}

.first-list > li > a:hover {
    cursor: pointer;
    text-decoration-color: black;
    text-decoration: underline;
}

ol {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.content2 {
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    white-space: nowrap;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-family: myFont;
    font-size: 0.875rem;
    line-height: 1.125rem;
    border-top: 1px solid #DDDDDD;
}

.dot {
    height: 2px;
    width: 2px;
    border-radius: 50px;
    background-color: #222222;
    position: relative;
    top: 1px;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(34, 34, 34);
    column-gap: 4px;
    margin-top: 6px;
}

.dollar {
    color: black;
}

.newstar {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #222222;
}

.new {
    color: #222222;
    justify-self: end;
    grid-area: 1/2/ span 1 / span 1;
}

.star {
    margin-top: -1px;
    color: #222222;
}

@media (max-width:1400px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 396.4px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }

}

@media (max-width:1380px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 291.65px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1300px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 372.65px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1280px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 367.9px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1240px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 358.4px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1200px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 348.9px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1194px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-items {
        height: 347.47px;
    }

    .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width:1128px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 416.45px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .appear {
        display: block;
    }

}

@media (max-width:1080px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 401.46px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:1024px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 383.73px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:1015px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 380.98px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:1000px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 376.13px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:992px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 373.59px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:991px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 373.38px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }


}

@media (max-width:950px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-items {
        height: 360.29px;
    }

    .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:949px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 401.53px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:900px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 478.09px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:895px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 375.88px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:885px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 471.13px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:880px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 468.59px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:850px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 454.34px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:840px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 449.59px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .list1 {
        display: none;
    }
}

@media (max-width:812px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 436.29px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:812px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 430.59px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:768px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 415.4px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:767px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 415.08px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:765px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 414.13px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:760px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 411.59px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width:744px) {
    .main,.grid,.grid-con,img,.inspiration,.exploring,.panel,.grid-list{
        max-width: 100%;
    }

    .grid-con {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-items {
        height: 404px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

}









